Repository mlabs-haskell/lambda-buffers, pull requests merged in 2023-02, with the labels that each got.

#32 Kind Checker: CLI Integration
  lambda-buffers-compiler/app/LambdaBuffers/Compiler/Cli/Compile.hs
  lambda-buffers-compiler/app/Main.hs
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Context.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Derivation.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Inference.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Judgement.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Type.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Variable.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/Samples.hs
  lambda-buffers-compiler/test/Test/Samples/Proto/CompilerInput.hs
  lambda-buffers-compiler/test/Test/Samples/Proto/Helpers.hs
  lambda-buffers-compiler/test/Test/Samples/Proto/Module.hs
  lambda-buffers-compiler/test/Test/Samples/Proto/SourceInfo.hs
  lambda-buffers-compiler/test/Test/Samples/Proto/TyDef.hs
  lambda-buffers-proto/compiler.proto
Labels: compiler

#34 Compiler: Arbitrary Instances + Property Test
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Type.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Variable.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/Samples.hs
  lambda-buffers-compiler/test/Test/Utils/CompilerInput.hs
  lambda-buffers-compiler/test/Test/Utils/Constructors.hs
  lambda-buffers-compiler/test/Test/Utils/Module.hs
  lambda-buffers-compiler/test/Test/Utils/SourceInfo.hs
  lambda-buffers-compiler/test/Test/Utils/TyDef.hs
Labels: compiler

#39 Compiler: multiple declaration error
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/Utils/CompilerInput.hs
  lambda-buffers-compiler/test/Test/Utils/Constructors.hs
  lambda-buffers-proto/compiler.proto
Labels: compiler

#52 Fix: Add Opaque to Context
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Inference.hs
Labels: compiler

#48 Reworking the Compiler ProtoCompat (big one)
  lambda-buffers-compiler/app/LambdaBuffers/Compiler/Cli/Compile.hs
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Inference.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Kind.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Type.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/NamingCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/FromProto.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/test/Test.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/Gen.hs
  lambda-buffers-compiler/test/Test/TypeClassCheck.hs
  lambda-buffers-compiler/test/Test/Utils/CompilerInput.hs
  lambda-buffers-compiler/test/Test/Utils/Constructors.hs
  lambda-buffers-compiler/test/Test/Utils/Module.hs
  lambda-buffers-compiler/test/Test/Utils/SourceInfo.hs
  lambda-buffers-proto/compiler-proto.md
  lambda-buffers-proto/compiler.proto
Labels: enhancement, compiler

#35 Frontend: Integration with the Compiler
  flake.nix
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/Gen.hs
  lambda-buffers-frontend/app/LambdaBuffers/Frontend/Cli/Compile.hs
  lambda-buffers-frontend/app/Main.hs
  lambda-buffers-frontend/build.nix
  lambda-buffers-frontend/lambda-buffers-frontend.cabal
  lambda-buffers-frontend/resources/good/Test.lbf
  lambda-buffers-frontend/resources/good/work-dir/compiler-input.textproto
  lambda-buffers-frontend/resources/good/work-dir/compiler-output.textproto
  lambda-buffers-frontend/resources/run.sh
  lambda-buffers-frontend/src/LambdaBuffers/Frontend.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Syntax.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/ToProto.hs
  lambda-buffers-frontend/test/Test/LambdaBuffers/Frontend.hs
Labels: compiler, frontend

#30 Compiler: Prolog model
  experimental/kind_check.pl
  experimental/prolog/cardinality_check.pl
  experimental/prolog/class_check.pl
  experimental/prolog/common_defs.pl
  experimental/prolog/kind_check.pl
  experimental/prolog/lb-compiler/aux.pl
  experimental/prolog/lb-compiler/compiler-input.pb
  experimental/prolog/lb-compiler/compiler_pb.pl
  experimental/prolog/lb-compiler/kind_check.pl
  experimental/prolog/lb-compiler/proto_aux.pl
  experimental/prolog/lb_checker.pl
  experimental/prolog/lb_parser.pl
  experimental/prolog/ty_lam.pl
Labels: compiler

#56 Compiler Proto Error Fixes
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/FromProto.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/KindCheck/Errors.hs
  lambda-buffers-compiler/test/Test/Utils/CompilerInput.hs
  lambda-buffers-compiler/test/Test/Utils/Constructors.hs
  lambda-buffers-compiler/test/Test/Utils/Module.hs
  lambda-buffers-compiler/test/Test/Utils/TyDef.hs
  lambda-buffers-proto/compiler-proto.md
  lambda-buffers-proto/compiler.proto
Labels: compiler

#57 Compiler tests
  lambda-buffers-compiler/app/LambdaBuffers/Compiler/Cli/Compile.hs
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/Coverage.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/Gen.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/Mutation.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/Utils.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/WellFormed.hs
Labels: compiler

#58 Compiler: ProtoCompat Inference Integration
  flake.nix
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Context.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Derivation.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Inference.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Judgement.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Kind.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Type.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Variable.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/FromProto.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/InfoLess.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/Utils/CompilerInput.hs
  lambda-buffers-compiler/test/Test/Utils/Constructors.hs
  lambda-buffers-compiler/test/Test/Utils/Module.hs
  lambda-buffers-compiler/test/Test/Utils/TyDef.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/PPrint.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Parsec.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Syntax.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/ToProto.hs
  lambda-buffers-proto/compiler-proto.md
  lambda-buffers-proto/compiler.proto
  lambda-buffers-proto/run.sh
Labels: compiler

#66 clean-up: remove redundant files
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Context.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Judgement.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Variable.hs
Labels: compiler
