Repository mlabs-haskell/lambda-buffers, pull requests merged in 2023-01, with the labels that each got.

#6 Scaffold the Google Protobuf bits
  docs/build.nix
  experimental/build.nix
  experimental/lambdabuffers-compiler-service.proto
  experimental/lambdabuffers-source-diag.proto
  experimental/lambdabuffers-source.proto
  flake.lock
  flake.nix
  lambda-buffers-compiler/.envrc
  lambda-buffers-compiler/app/Main.hs
  lambda-buffers-compiler/build.nix
  lambda-buffers-compiler/cabal.project
  lambda-buffers-compiler/hie.yaml
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-proto/.envrc
  lambda-buffers-proto/build.nix
  lambda-buffers-proto/compiler.proto
  lambda-buffers-proto/examples/tys.textproto
  pre-commit-check.nix
Labels: catalyst, compiler

#18 Comparisons Documentation
  docs/comparison-matrix.md
Labels: documentation

#22 wip: add description of features
  docs/comparison-matrix.md
Labels: documentation

#17 Catalyst Milestone 1 Work PR
  .markdownlint.yaml
  README.md
  _typos.toml
  docs/codegen.md
  docs/command-line-interface.md
  docs/comparison-matrix.md
  docs/compiler.md
  docs/design.md
  docs/feedback/interview-notes.md
  docs/feedback/questionnaire-results.pdf
  flake.nix
  lambda-buffers-frontend/app/Main.hs
  lambda-buffers-frontend/build.nix
  lambda-buffers-frontend/lambda-buffers-frontend.cabal
  lambda-buffers-proto/build.nix
  lambda-buffers-proto/compiler-proto.md
  lambda-buffers-proto/compiler.proto
  lambda-buffers-proto/run.sh
Labels: documentation, catalyst, compiler, frontend

#29 Compiler: TypeClass checks
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/TypeClassCheck.hs
  lambda-buffers-compiler/test/Test.hs
  lambda-buffers-compiler/test/Test/TypeClassCheck.hs
Labels: enhancement, compiler

#26 KC: Integrate Common Validated Proto Types
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Context.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Inference.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Kind.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Type.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Variable.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
Labels: compiler
