Repository mlabs-haskell/lambda-buffers, pull requests merged in 2023-03, with the labels that each got.

#69 Compiler: additional Tests
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck/Inference.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/Utils/CompilerInput.hs
  lambda-buffers-compiler/test/Test/Utils/Constructors.hs
  lambda-buffers-compiler/test/Test/Utils/Module.hs
  lambda-buffers-compiler/test/Test/Utils/TyDef.hs
Labels: compiler, testing

#64 Implemented superclass check with detailed reporting
  lambda-buffers-compiler/lambda-buffers-compiler.cabal
  lambda-buffers-compiler/src/LambdaBuffers/Compiler.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/KindCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Indexing.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Types.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/TypeClassCheck.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/TypeClassCheck/SuperclassCycleCheck.hs
  lambda-buffers-compiler/test/Test/KindCheck.hs
  lambda-buffers-compiler/test/Test/KindCheck/Errors.hs
  lambda-buffers-compiler/test/Test/TypeClassCheck.hs
  lambda-buffers-proto/compiler.proto
Labels: compiler

#70 Adds the LB banner and logo.
  README.md
  _typos.toml
  docs/images/lambda-buffers-banner.png
  docs/images/lambda-buffers-logo.png
Labels: documentation

#72 Codegen various
  lambda-buffers-codegen/data/goldens/autogen/LambdaBuffers/LambdaBuffers.hs
  lambda-buffers-codegen/data/goldens/autogen/LambdaBuffers/Prelude.hs
  lambda-buffers-codegen/data/goldens/lambda-buffers.input.textproto
  lambda-buffers-codegen/data/goldens/run.sh
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print.hs
  lambda-buffers-codegen/test/Test/LambdaBuffers/Codegen/Haskell.hs
  lambda-buffers-frontend/data/goldens/good/LambdaBuffers.lbf
  lambda-buffers-frontend/data/goldens/good/Plutus.lbf
  lambda-buffers-frontend/data/goldens/good/work-dir/compiler-input.textproto
  lambda-buffers-frontend/data/run.sh
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/PPrint.hs
  pre-commit-check.nix
Labels: bug, codegen

#73 Coden: LamVal and Haskell instance implementation printing
  lambda-buffers-codegen/app/LambdaBuffers/Codegen/Cli/GenHaskell.hs
  lambda-buffers-codegen/data/goldens/autogen/LambdaBuffers/LambdaBuffers.hs
  lambda-buffers-codegen/data/goldens/autogen/LambdaBuffers/Plutus.hs
  lambda-buffers-codegen/data/goldens/autogen/LambdaBuffers/Prelude.hs
  lambda-buffers-codegen/data/goldens/lambda-buffers.input.textproto
  lambda-buffers-codegen/data/goldens/runtime/LambdaBuffers/Runtime/Haskell.hs
  lambda-buffers-codegen/data/haskell.json
  lambda-buffers-codegen/lambda-buffers-codegen.cabal
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Check.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Config.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Config.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print/Derive.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print/InstanceDef.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print/LamVal.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print/Monad.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print/Names.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Print/TyDef.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Haskell/Syntax.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/LamVal.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/LamVal/Derive.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/LamVal/Eq.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/LamVal/PlutusData.hs
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Print.hs
  lambda-buffers-codegen/test/Test/LambdaBuffers/Codegen/Haskell.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/MiniLog.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/MiniLog/UniFdSolver.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/Eval.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/ProtoCompat/FromProto.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/ProtoCompat/Eval.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/ProtoCompat/Utils.hs
  lambda-buffers-proto/compiler.proto
Labels: enhancement, catalyst, codegen

#74 Frontend: Class definitions and rules
  lambda-buffers-codegen/data/goldens/autogen/LambdaBuffers/LambdaBuffers.hs
  lambda-buffers-codegen/data/goldens/autogen/LambdaBuffers/Plutus.hs
  lambda-buffers-codegen/data/goldens/lambda-buffers.input.textproto
  lambda-buffers-frontend/data/goldens/good/LambdaBuffers.lbf
  lambda-buffers-frontend/data/goldens/good/Plutus.lbf
  lambda-buffers-frontend/data/goldens/good/Prelude.lbf
  lambda-buffers-frontend/data/goldens/good/work-dir/compiler-input.textproto
  lambda-buffers-frontend/data/good/work-dir/compiler-input.textproto
  lambda-buffers-frontend/lambda-buffers-frontend.cabal
  lambda-buffers-frontend/src/LambdaBuffers/Frontend.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/CheckReferences.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Errors.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Monad.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/PPrint.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Parsec.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Scope.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Syntax.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/ToProto.hs
  lambda-buffers-frontend/src/LambdaBuffers/Frontend/Utils.hs
  lambda-buffers-frontend/test/Test/LambdaBuffers/Frontend.hs
  lambda-buffers-frontend/test/Test/LambdaBuffers/Frontend/Parsec.hs
Labels: frontend

#75 Compiler: MiniLog becomes co-inductive
  lambda-buffers-compiler/build.nix
  lambda-buffers-compiler/data/minilog-goldens/cycle.pl
  lambda-buffers-compiler/data/typeclasscheck-goldens/cycled_goals_1/compiler_error.textproto
  lambda-buffers-compiler/data/typeclasscheck-goldens/cycled_goals_1/foo.pl
  lambda-buffers-compiler/data/typeclasscheck-goldens/cycled_goals_1/prelude.pl
  lambda-buffers-compiler/data/typeclasscheck-goldens/cycled_goals_2/foo.pl
  lambda-buffers-compiler/data/typeclasscheck-goldens/cycled_goals_2/prelude.pl
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/MiniLog.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/MiniLog/UniFdSolver.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/TypeClassCheck/Errors.hs
  lambda-buffers-compiler/src/LambdaBuffers/Compiler/TypeClassCheck/MiniLog.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/MiniLog.hs
  lambda-buffers-compiler/test/Test/LambdaBuffers/Compiler/TypeClassCheck.hs
  lambda-buffers-frontend/data/goldens/good/PreludeT.lbf
  lambda-buffers-frontend/data/goldens/good/Rules.lbf
  lambda-buffers-frontend/data/run.sh
  lambda-buffers-proto/compiler.proto
Labels: compiler

#79 Demo adjustments and storing the autogen files
  experimental/ctl-env/.envrc
  experimental/ctl-env/Makefile
  experimental/ctl-env/api/Citizen.lbf
  experimental/ctl-env/api/Coop.lbf
  experimental/ctl-env/api/Demo.lbf
  experimental/ctl-env/autogen/LambdaBuffers/Citizen.purs
  experimental/ctl-env/autogen/LambdaBuffers/Plutus.purs
  experimental/ctl-env/autogen/LambdaBuffers/Plutus/V1.purs
  experimental/ctl-env/autogen/LambdaBuffers/Prelude.purs
  experimental/ctl-env/runtime/LambdaBuffers/Runtime/PlutusLedgerApi.purs
  experimental/lbf-base/Plutus.lbf
  experimental/plutustx-env/.envrc
  experimental/plutustx-env/Makefile
  experimental/plutustx-env/api/Citizen.lbf
  experimental/plutustx-env/api/Coop.lbf
  experimental/plutustx-env/api/Demo.lbf
  experimental/plutustx-env/autogen/LambdaBuffers/Citizen.hs
  experimental/plutustx-env/autogen/LambdaBuffers/Plutus.hs
  experimental/plutustx-env/autogen/LambdaBuffers/Plutus/V1.hs
  experimental/plutustx-env/autogen/LambdaBuffers/Prelude.hs
  experimental/plutustx-env/plutustx-env.cabal
  lambda-buffers-codegen/src/LambdaBuffers/Codegen/Purescript/Print/Derive.hs
  pre-commit-check.nix
Labels: catalyst
